.elgg-menu-title-multi_dashboard {
	width: auto;
	float: none;
	position: absolute;
	bottom: -1px;
	margin: 0;
	padding: 0;
}

.elgg-menu-title-multi_dashboard .ui-droppable-hover {
	border-color: #333333;
}

.elgg-menu-title-multi_dashboard li:hover .elgg-icon-settings-alt {
	display: inline-block;
	margin: 0 -5px 0 5px;
}

.elgg-menu-title-multi_dashboard li.ui-sortable-helper .elgg-icon-settings-alt {
	display: none;
}

.multi-dashboard-layout .elgg-main > .elgg-head {
	position: relative;
}